<div class="post-wrapper" *ngIf="!submitted" xmlns="http://www.w3.org/1999/html">
  <mat-card class="post-card">
    <mat-card-content>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Заголовок</mat-label>
        <input matInput placeholder="Заголовок" [(ngModel)]="tutorial.title" name="title" required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <textarea matInput placeholder="Текст новини" [(ngModel)]="tutorial.description" name="description" required
                  oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'>
        </textarea>
      </mat-form-field>
      <button class="btn-next" mat-raised-button color="accent"
              (click)="saveTutorial()" [disabled]="!tutorial.title || !tutorial.description">
        Зберегти
      </button>
      <a class="btn-back" [routerLink]="['', 'dashboard', 'news-maker']">
        Назад
      </a>
    </mat-card-content>
  </mat-card>
</div>


<!--<div>-->
<!--  <div class="submit-form">-->
<!--    <div *ngIf="!submitted">-->
<!--      <div class="form-group">-->
<!--        <label for="title">Title</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          class="form-control"-->
<!--          id="title"-->
<!--          required-->
<!--          [(ngModel)]="tutorial.title"-->
<!--          name="title"-->
<!--        />-->
<!--      </div>-->

<!--      <div class="form-group">-->
<!--        <label for="description">Description</label>-->
<!--        <input-->
<!--          class="form-control"-->
<!--          id="description"-->
<!--          required-->
<!--          [(ngModel)]="tutorial.description"-->
<!--          name="description"-->
<!--        />-->
<!--      </div>-->

<!--      <button (click)="saveTutorial()" class="btn btn-success">Submit</button>-->
<!--    </div>-->

<!--    <div *ngIf="submitted">-->
<!--      <h4>Tutorial was submitted successfully!</h4>-->
<!--      <button class="btn btn-success" (click)="newTutorial()">Add</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
