@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/mixins';

.contact-wrapper {
  .container {
    @include media-property(H, margin, 10px auto 2.5rem, 35px auto 5rem);
    @include media-property(H, padding, 0, 0 15px);
    max-width: 100%;

    hr {
      @include media-property(H, margin, 3rem 0.5rem 0, 6rem 0 0);
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      max-width: 540px;
      margin: 0 auto;

      .column {
        @include media-property(H, flex, 100%, 50%);
        @include media-property(H, margin, 1rem 0.3rem 0, 30px 0 0);

        h2 {
          @include media-property(H, font-size, 1.3rem, 1.7rem);
          font-family: e-UkraineHead-Regular, sans-serif;
          line-height: 1.5;
          color: $color-white;
          margin: 1.2rem auto;
        }

        p {
          @include media-property(H, font-size, 0.6, 1.2rem);
          @include media-property(H, margin, 1rem 0.2rem, 1.5rem 0);
          font-family: e-UkraineHead-UltraLight, sans-serif;
          line-height: 1.3;
          color: $color-hint;
        }

        mat-form-field {
          color: $color-disabled;

          &.input {
            width: 90% !important;
          }

          &.text-area {
            @include media-property(H, width, 90% !important, 95% !important);
          }
        }

        .btn-next {
          @include media-property(H, width, 85% !important, 55% !important);
          margin: 8px 0;
          padding: 10px;
          background: $color-primary;
          color: $color-black;

          &:hover {
            background-color: $color-primary-hover;
          }

          &:disabled,
          &[disabled] {
            background-color: $color-disabled;
            color: $color-disabled-text;
          }
        }
      }
    }

    .centered {
      text-align: center;
    }
  }
}
