.register-wrapper {
  margin-top: 50px;

  .register-card {
    max-width: 400px;
    margin: 2em auto;
    padding: 25px;
    text-align: center;
    border-radius: 20px;

    mat-form-field {
      display: block;
    }
  }
}
