@import '../../../../../assets/styles/colors';
@import '../../../../../assets/styles/mixins';

.about-wrapper {
  .container {
    @include media-property(H, margin, 0 0.5rem, 0 30px);
    @include media-property(H, padding, 0, 0 15px);
    max-width: 100%;

    hr {
      @include media-property(H, margin, 3rem 0.5rem 0, 6rem 0 0);
    }

    .row {
      display: flex;
      flex-wrap: wrap;

      .column {
        @include media-property(H, flex, 100%, 50%);
        @include media-property(H, margin, 15px 0, 30px 0);

        h2 {
          @include media-property(H, font-size, 1.3rem, 1.7rem);
          font-family: e-UkraineHead-Regular, sans-serif;
          line-height: 1.5;
          color: $color-white;
          //width: 50%;
          margin: 1.2rem auto;
        }

        .topic {
          @include media-property(H, margin-bottom, 1rem, 2rem);
          @include media-property(H, font-size, 1.2rem, 1.5rem);
          font-family: e-Ukraine-Light, sans-serif;
          color: $color-white;
        }

        .description {
          @include media-property(H, font-size, 0.8rem, 1.1rem);
          font-family: e-UkraineHead-UltraLight, sans-serif;
          line-height: 1.5;
          color: $color-disabled;
        }
      }
    }

    .centered {
      text-align: center;
    }

    .img-fluid {
      max-width: 100%;
      height: auto;
    }
  }

  .review {
    @include media-property(H, width, 100%, 50%);
    text-align: center;
    position: relative;
    margin: 0 auto;

    .quote {
      @include media-property(H, font-size, 0.8rem, 1.1rem);
      font-family: e-UkraineHead-UltraThin, sans-serif;
      margin: 0 0 1rem;
      font-style: italic;
      color: $color-secondary;
    }

    .img-review {
      max-width: 50px;
      margin: 0 8px 0 0;
      filter: grayscale(1);
      vertical-align: middle;
      border-style: none;
      border-radius: 50%;

      &:hover {
        filter: grayscale(0);
      }
    }

    span {
      @include media-property(H, font-size, 0.7rem, 0.9rem);
      color: $color-gray-text;
    }
  }
}


