<div class="about-wrapper">
    <div class="container">
        <hr/>
        <div class="row">
            <div class="column">
                <h2 class="centered">Про продукт</h2>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <h3 class="topic">Qr-коди</h3>
                <p class="description">
                    Система генерує qr-коди для Ваших матеріальних цінностей. Не потрібно писати
                    маркером на речах інвентарний номер, достатньо роздрукувати та наклеїти відповідний код, який
                    до всього міститиме додаткову інформацію. Бухгалтер зможе відсканувати цей код і система запропонує
                    знайти річ в таблиці.
                </p>
            </div>
            <div class="column">
                <img class="img-fluid" src="./assets/images/qr-code-search.png" alt="Qr-коди"/>
            </div>
            <div class="column">
                <div class="review">
                    <p class="quote">
                        Це неймовірно! Спочатку поставився до цього скептично, але це дуже зручно та економить час!
                    </p>
                    <img class="img-review" src="./assets/images/client1.jpg" alt="Client 1"/>
                    <span>Давід Лінчук, Головний бухгалтер ВАТ "Пікс"</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <img class="img-fluid" src="./assets/images/crm.png" alt="Ролі"/>
            </div>
            <div class="column">
                <h3 class="topic">Персональні кабінети</h3>
                <p class="description">
                    Завдяки системі ролей, кожен співробітник має доступ до персонального кабінету. Hr-фахівець зможе
                    вносити та редагувати дані про працівника, бухгалтер приймати та розподіляти матеріальні цінності,
                    фахівець пресслужби інформуватиме про останні події та підписані накази/розпорядження, що значно
                    зменшить кількість нарад.
                </p>
            </div>
            <div class="column">
                <div class="review">
                    <p class="quote">Тепер все, як на долоні. Про більшість бюрократичних процесів можна забути.</p>
                    <img class="img-review" src="./assets/images/client2.jpg" alt="Client 2"/>
                    <span>Святослав Загайкевич, Директор ПП "Підпільна фабрика"</span>
                </div>
            </div>
        </div>
    </div>
</div>
