<div class="title-wrapper">
    <div class="container">
        <div class="row">
            <div class="home-content">
                <img class="app-icon" src="../../../../../assets/images/є-Робота%20icon%20bordered.png" alt="eRobotaApp">
                <h1>
                    єРобота - цифрове рішення для Вашого підприємства
                </h1>
                <p>
                    зручна робота з даними працівників, обліком матеріальних цінностей, оперативне інформування без
                    необхідності збирати щоденні наради та багато іншого
                </p>
                <img class="img-fluid" src="../../../../../assets/images/home-start.png" alt=""/>
            </div>
        </div>
    </div>
</div>
