<div class="spinner-container">
    <mat-spinner *ngIf="isLoading" [diameter]="60"></mat-spinner>
</div>
<div class="home-wrapper" *ngIf="!isLoading">
    <mat-card *ngFor="let post of posts | paginate: { itemsPerPage: 3, currentPage: currentPage }; let i = index"
              (click)="incrementViews(post)">
        <mat-card-title class="post-title">{{post.title}}</mat-card-title>
        <mat-card-subtitle class="post-description" [innerHTML]="post.description"></mat-card-subtitle>
        <mat-card-actions class="post-actions" align="end">
            <span class="post-date">{{post.createDateTime | date:'dd/MM/yyyy HH:mm:ss'}}</span>
            <span class="card-spacer"></span>
            <button mat-icon-button (click)="onLikeChange(post)">
                <i #like_icon class="fa-solid fa-heart" [id]="'icon_'+post.id"
                   [ngClass]="isPostLiked(post)">
                </i>
                <span>{{ post?.likes }}</span>
            </button>
            <button mat-icon-button class="btn-views" disabled>
                <i class="fa-solid fa-eye"></i>
                <span>{{ post?.views }}</span>
            </button>
        </mat-card-actions>
    </mat-card>
    <pagination-controls (pageChange)="currentPage = $event" previousLabel="Вперед"
                         nextLabel="Назад"></pagination-controls>
</div>
