@import 'src/assets/styles/_colors';

.home-wrapper {
  max-width: 700px;
  text-align: left;
  margin: 30px auto;
  padding-bottom: 70px;

  mat-card {
    margin: 15px 0;
    padding: 30px;
    border-radius: 20px;

    .post-title {
      font-family: e-Ukraine-Regular, sans-serif;
      margin-bottom: 20px;
    }

    .post-description {
      font-family: e-Ukraine-UltraLight, sans-serif;
    }

    .post-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;

      .post-date, .btn-views {
        font-family: e-Ukraine-UltraThin, sans-serif;
        color: $color-hint;
      }

      .card-spacer {
        flex: 1 1 auto;
      }

      i {
        margin-right: 5px;

        &.fa-heart.like-active {
          color: $color-like;
        }

        &.fa-heart.like-inactive {
          color: $color-hint;
        }

        &.fa-heart:hover {
          animation: pulse 1s infinite;
        }
      }
    }
  }
}

@keyframes pulse {
  10% {
    transform: scale(1.2);
  }
}
