@import '/src/assets/styles/_colors';

.confirm-dialog-wrapper {

  .confirm-card {
    padding: 20px 50px 30px 50px;
    max-width: 450px;
    border-radius: 20px;

    .confirm-card-header {
      display: flex;

      .title-spacer {
        flex: 1 1 auto;
      }

      .btn-close {
        .fa-solid:hover {
          color: $color-link;
        }
      }
    }

    .confirm-card-content {
      .mat-dialog-title {
        font-size: 2rem;
      }

      .confirm-input {
        .confirm-message {
          margin: 8px 0 4px 0;

          span.confirm-phrase {
            color: $color-danger-light;
            font-size: 1rem;
            font-weight: 500;
          }
        }
      }

      mat-form-field {
        width: 100%;
        margin-bottom: -1em;
      }

      .btn-confirm {
        width: 100%;
        padding: 8px 0;
        background: $color-danger;
        color: $color-black;
        font-size: 1rem;
        font-weight: 400;

        &:hover {
          background-color: $color-danger-light;
        }

        &:disabled,
        &[disabled] {
          background-color: $color-disabled;
          color: $color-danger;
        }
      }
    }
  }
}
