.login-wrapper {
  margin-top: 50px;

  .login-card {
    margin: 2em auto;
    padding: 25px;
    max-width: 400px;
    border-radius: 20px;
    text-align: center;

    mat-form-field {
      display: block;
    }
  }
}
