<div class="board-news-maker-wrapper" *ngIf="showNewsMakerBoard">
    <h1>{{pageTitle}}</h1>
    <!--  <a class="btn-add" mat-raised-button [routerLink]="['posts', 'add']">-->
    <!--    Додати-->
    <!--  </a>-->
    <mat-accordion *ngFor="let post of posts; let i = index">
        <mat-expansion-panel>
            <mat-expansion-panel-header class="{{post.published ? 'background-green' : 'background-red'}}">
                <mat-panel-title>
                    {{post.title}}
                </mat-panel-title>
                <div class="last-update">
                    {{post.updateDateTime | date:'dd/MM/yyyy HH:mm:ss'}}
                </div>
            </mat-expansion-panel-header>
            <div class="news-text">
                {{post.description}}
            </div>
            <div class="btn-actions">
                <a class="btn-edit" mat-button (click)="deletePost(post.id)">
                    Видалити
                </a>
                <a class="btn-edit" mat-button [routerLink]="['posts', 'edit', post.id]">
                    Редагувати
                </a>
                <button mat-raised-button class="{{!post.published ? 'background-green' : 'background-red'}}"
                        (click)="post.published
                ? updatePublished(post.id,false)
                : updatePublished(post.id, true)">
                    {{post.published ? 'Деактивувати' : 'Опублікувати'}}
                </button>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>
