.qr-reader-modal-wrapper {
  zxing-scanner {
    border-radius: 20px;
  }

  p {
    font-family: e-Ukraine-UltraThin, sans-serif;
  }

  mat-dialog-content {
  }

  mat-dialog-actions {
    display: flex;
    justify-content: center;
    align-items: center;

    .question {

    }

    .buttons {

    }
  }
}
