@import 'src/assets/styles/_colors';

.material-action-form-wrapper {
  max-width: 800px;
  margin: auto;

  mat-toolbar {
    border-radius: 10px;
    padding: 12px 0;
    //margin-bottom: 20px;
    background: $color-card-background;

    mat-toolbar-row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  mat-card {
    margin: 50px 20px;
    border-radius: 20px;

    mat-card-content {
      padding: 10px 0;
      text-align: center;

      .qr-code {
        margin-bottom: 1.2rem;

        .qr-code-container {
          padding: 3px;
          width: 130px;
          height: 130px;
          background-color: $color-white;
          border-radius: 8px;
        }
      }

      mat-form-field {
        width: 200px;
        margin: 0 10px;
      }
    }
  }

  .title-spacer {
    flex: 1 1 auto;
  }

  .btn-action {
    margin-right: 10px;
    font-size: 22px;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .subtitle {
    font-weight: 500;
    color: $color-secondary;
    margin-bottom: 8px;
  }

  .down-emoji {
    margin-bottom: 8px;
  }
}

a.mat-menu-item {
  margin: 5px;

  &.mat-menu-item:hover {
    background-color: $color-black-hover;
    color: $color-primary;
    border-radius: 0.25rem;
  }
}

span.menu-item-text {
  margin-left: 15px;
}

mat-label {
  color: $color-secondary;
}
