<div class="profile-card-wrapper" *ngIf="currentUser; else loggedOut">
  <mat-card class="profile-card">
    <mat-card-header>
      <img *ngIf="currentUser.avatar != null" src="{{currentUser.avatar}}" mat-card-avatar alt="avatar"/>
      <img *ngIf="currentUser.avatar == null" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/72/Avatar_icon_green.svg/1024px-Avatar_icon_green.svg.png" mat-card-avatar alt="avatar"/>
      <mat-card-title>{{ currentUser.firstName | titlecase }} {{ currentUser.lastName | titlecase }}</mat-card-title>
      <mat-card-subtitle>
        {{currentUser.post}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <div class="roles">
        <strong>Roles:</strong>
        <ul class="roles-list">
          <li *ngFor="let role of currentUser.roles">
            {{ role }}
          </li>
        </ul>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" routerLink="/home">НАЗАД</button>
    </mat-card-actions>
  </mat-card>
</div>


<!--<p>-->
<!--  <strong>Token:</strong>-->
<!--  {{ currentUser.accessToken.substring(0, 20) }} ...-->
<!--  {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}-->
<!--</p>-->

<ng-template #loggedOut>
  Please login.
</ng-template>
