@import '../../../assets/styles/mixins';
@import '../../../assets/styles/_colors';

.header-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  mat-toolbar {
    padding: 0 26px 0 16px;
  }

  .header-spacer {
    flex: 1 1 auto;
  }

  mat-menu::before {
    vertical-align: middle;
  }

  .auth-link {
    margin-right: 15px;
  }

  .hide-element-mobile {
    @include media-property(H, visibility, hidden, visible);
    @include media-property(H, display, none, inline-block);
  }
}

a.mat-menu-item {
  margin: 5px;

  &.mat-menu-item:hover {
    background-color: #101014;
    color: $color-primary;
    border-radius: 0.25rem;
  }
}

a.mat-button:hover {
  color: $color-primary;
  background: transparent;
}

span.menu-item-text {
  margin-left: 15px;
}

.show-element-mobile {
  @include media-property(H, visibility, visible, hidden);
  @include media-property(H, display, inline-block, none);
}

a {
  font-family: e-Ukraine-UltraLight, sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  /*color: inherit;*/
  //padding: 0 8px;
  .menu-icon:before {
    font-size: 16px;
  }
}

.btn-signup {
  font-family: e-Ukraine-UltraLight, sans-serif;
  font-size: 11px;
  background: $color-primary;
  color: $color-black;
  margin-left: 10px;
}

.logo {
  .logo-title {
    font-family: e-UkraineHead-Medium, sans-serif;
    font-size: 1.2rem;
  }

  .flag {
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    transform: scaleX(-1);
  }
}
