@import '../../../assets/styles/mixins';
@import '../../../assets/styles/_colors';

.header-wrapper {

  .header-spacer {
    flex: 1 1 auto;
  }

  mat-menu::before {
    vertical-align: middle;
  }

  .auth-link {
    margin-right: 15px;
  }

  .hide-element-mobile {
    @include media-property(H, visibility, hidden, visible);
    @include media-property(H, display, none, inline-block);
  }
}

a.mat-menu-item {
  margin: 5px;

  &.mat-menu-item:hover {
    background-color: #101014;
    color: $color-primary;
    border-radius: 0.25rem;
  }
}

a.mat-button:hover {
  color: $color-primary;
  background: transparent;
}

span.menu-item-text {
  margin-left: 15px;
}

.show-element-mobile {
  @include media-property(H, visibility, visible, hidden);
  @include media-property(H, display, inline-block, none);
}

a {
  text-decoration: none;
  color: #ffffff;
  /*color: inherit;*/
  //padding: 0 8px;
}

.btn-signup {
  background: #f2d082;
  color: #000000;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
}

.logo {
  .flag {
    height: 22px;
    //display: inline-block;
    //vertical-align: middle;
  }
}
