<div class="header-wrapper">
  <mat-toolbar>
  <span class="menu">
    <a mat-icon-button [matMenuTriggerFor]="menuMain">
      <i class="fa-solid fa-bars"></i>
    </a>
    <mat-menu #menuMain="matMenu" [overlapTrigger]="false" routerLinkActive="active">
      <a class="menu-item" mat-menu-item routerLink="/home">
        <i class="fa-solid fa-house"></i><span class="menu-item-text">Головна</span>
      </a>
      <a class="menu-item" mat-menu-item *ngIf="showEmployeeBoard" routerLink="/dashboard/employee">
        <i class="fa-solid fa-box-open"></i><span class="menu-item-text">Мій Інвентар</span>
      </a>
      <a class="menu-item" mat-menu-item *ngIf="showHRBoard" routerLink="/dashboard/hr">
        <i class="fa-solid fa-folder-open"></i><span class="menu-item-text">Панель кадровика</span>
      </a>
      <a class="menu-item" mat-menu-item *ngIf="showAccountantBoard" routerLink="/dashboard/accountant">
       <i class="fa-solid fa-hand-holding-dollar"></i><span class="menu-item-text">Панель бухгалтера</span>
      </a>
      <div class="show-element-mobile" *ngIf="isLoggedIn">
        <a routerLink="/profile" class="menu-item" mat-menu-item>
          <i class="fa-solid fa-user"></i><span class="menu-item-text">{{ username }}</span>
        </a>
        <a href (click)="logout()" class="menu-item" mat-menu-item>
          <i class="fa-solid fa-arrow-right-from-bracket"></i><span class="menu-item-text">Вийти</span>
        </a>
       </div>
      <div class="show-element-mobile" *ngIf="!isLoggedIn">
        <a class="menu-item" mat-menu-item routerLink="/register">
          <i class="fa-solid fa-id-card"></i><span class="menu-item-text">Реєстрація</span>
        </a>
        <a class="menu-item" mat-menu-item routerLink="/login">
          <i class="fa-solid fa-lock-open"></i><span class="menu-item-text">Увійти</span>
        </a>
      </div>
    </mat-menu>
  </span>
    <a class="logo" routerLink="home"><span>{{logo}} <img class="flag" src="{{flagUA}}" alt=""></span></a>
    <span class="header-spacer"></span>
    <div class="hide-element-mobile" *ngIf="!isLoggedIn">
      <a mat-button routerLink="/login">Увійти</a>
      <a class="btn-signup" mat-raised-button routerLink="/register">Реєстрація</a>
    </div>
    <div class="hide-element-mobile" *ngIf="isLoggedIn">
      <a mat-button [matMenuTriggerFor]="menuProfile" class="auth-link hide-element-mobile">{{ username }}</a>
      <mat-menu [hasBackdrop]="false" #menuProfile="matMenu" [overlapTrigger]="false" routerLinkActive="active">
        <div>
          <a class="menu-item" mat-menu-item routerLink="/profile">
            <i class="fa-solid fa-user"></i><span class="menu-item-text">Профіль</span>
          </a>
        </div>
        <a class="menu-item" mat-menu-item href (click)="logout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i><span class="menu-item-text">Вийти</span>
        </a>
      </mat-menu>
    </div>
  </mat-toolbar>
</div>
