.home-wrapper {
  #title {
    opacity: 0;
    transform: translate(0, 0);

    &.active {
      opacity: 1;
      animation: titleAnimation 2s forwards;
    }
  }

  #about {
    opacity: 0;
    transform: translate(0, 0);

    &.active {
      opacity: 1;
      animation: titleAnimation 1.5s forwards;
      //transform: translate(-120%, 0);
      //animation: aboutAnimation 2.5s forwards;
    }
  }

  #contact {
    opacity: 1;
    transform: translate(-120%, 0);
    animation: contactAnimation 2s forwards;

    &.active {
      opacity: 0;
      animation: titleAnimation 2.5s forwards;

    }
  }

  @keyframes titleAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes aboutAnimation {
    0% {
      transform: translateX(-120%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes contactAnimation {
    0% {
      transform: translateX(120%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

