#title {
  opacity: 0;
  animation: titleAnimation 2.5s forwards;
}

#about {
  transform: translateX(-150%);
  animation: aboutAnimation 3s forwards;
}

#contact {
  opacity: 0;
  transform: translateY(-150%);
  animation: contactAnimation 1s forwards;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aboutAnimation {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes contactAnimation {
  0% {
    opacity: 0;
    transform: translateY(150%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
