<div class="home-wrapper">
    <mat-card *ngFor="let post of posts | paginate: { itemsPerPage: 3, currentPage: p }; let i = index">
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle [innerHTML]="post.description"></mat-card-subtitle>
        <mat-card-actions align="end">
            <button mat-icon-button><i class="fa-solid fa-heart"></i></button>
            <button mat-icon-button disabled><i class="fa-solid fa-eye"></i></button>
        </mat-card-actions>
    </mat-card>
    <pagination-controls (pageChange)="p = $event" previousLabel="Вперед" nextLabel="Назад"></pagination-controls>
</div>
