<div class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="column">
                <img class="dev-company-icon" src="../../../../../assets/images/є-Робота%20icon%20bordered.png" alt="e-robota">
                <span>
                    <p>kotoleksii.mywebcommunity.org</p>
                    <p>2022. Всі права захищені.</p>
                </span>
                <span></span>
            </div>
            <div class="column">
                <div class="dev-technology">
                    <span>
                        <a href="https://angular.io/">
                            <img class="technology-icon" src="../../../../../assets/images/angular.png" alt="angular">
                        </a>
                        <a href="https://spring.io/">
                            <img class="technology-icon" src="../../../../../assets/images/spring-boot.png" alt="spring">
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
