<div class="board-card-wrapper" *ngIf="showAccountantBoard">
    <mat-card class="mat-elevation-z6">
        <mat-card-header>
            <mat-card-title class="view-card-title">
                <h1 class="title">{{content}}</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-mini-fab class="btn-add" [routerLink]="['user', userId,'material', 'add']">
                    <i class="fa-solid fa-plus"></i>
                </button>
                <a mat-mini-fab class="btn-qr" (click)="openQrReaderModal()">
                    <i class="fa-solid fa-qrcode"></i>
                </a>
                <span class="title-spacer"></span>
                <mat-form-field class="select-employees">
                    <mat-label>Працівники</mat-label>
                    <mat-select placeholder="Працівники" (selectionChange)="onChange($event)">
                        <mat-option [value]="'не обрано'">не обрано</mat-option>
                        <mat-option *ngFor="let user of users" [value]="user.id">
                            {{user.lastName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-form-field">
                    <mat-label>Пошук</mat-label>
                    <input #filter matInput placeholder="Пошук" (keyup)="applyFilter($event)">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </mat-form-field>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="exportAsExcel()">
                        <i class="fa-solid fa-file-excel" style="margin-right: 5px"></i>
                        <span>Експорт в Excel</span>
                    </button>
                    <button mat-menu-item (click)="exportAsCsv()">
                        <i class="fa-solid fa-file-csv" style="margin-right: 5px"></i>
                        <span>Експорт в Csv</span>
                    </button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="board-table-container">
            <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Найменування</th>
                    <td mat-cell *matCellDef="let element">
                        <a class="element-details-link"
                           [routerLink]="['/dashboard/accountant/user/', element.userId, 'material', element.id, 'details']">
                            {{element.title}}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="inventoryNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Інвентарний №</th>
                    <td mat-cell *matCellDef="let element"> {{element.inventoryNumber}} </td>
                </ng-container>

                <ng-container matColumnDef="dateStart">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Дата старту</th>
                    <td mat-cell *matCellDef="let element"> {{element.dateStart}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Тип</th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> К-сть</th>
                    <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ціна</th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <!--                <ng-container matColumnDef="userId">-->
                <!--                    <th mat-header-cell *matHeaderCellDef> ВласникId</th>-->
                <!--                    <td mat-cell *matCellDef="let element"> {{element.userId}} </td>-->
                <!--                </ng-container>-->

                <ng-container matColumnDef="lastName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Відп.особа</th>
                    <td mat-cell *matCellDef="let element"> {{element.lastName}}({{element.userId}})</td>
                </ng-container>

                <!--                <ng-container matColumnDef="ID">-->
                <!--                    <th mat-header-cell *matHeaderCellDef> Дії</th>-->
                <!--                    <td mat-cell *matCellDef="let element">-->
                <!--                        <button mat-icon-button-->
                <!--                                [routerLink]="['/dashboard/accountant/user/', element.userId, 'material', element.id, 'details']">-->
                <!--                            <i class="fa-regular fa-file-lines"></i>-->
                <!--                        </button>-->
                <!--                    </td>-->
                <!--                </ng-container>-->

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [length]="200" [pageSizeOptions]="[3, 5, 20]" aria-label="Select page"></mat-paginator>
        </div>
    </mat-card>
</div>
