@import "node_modules/angular-notifier/styles";
@import 'assets/styles/_colors';
@import 'assets/styles/fonts';
@import 'assets/styles/material';
@import 'assets/styles/pagination';
@import 'assets/styles/scrollbar';

html, body {
  height: 100%;
}

body {
  margin: 0;
  //font-family: e-Ukraine-UltraLight, sans-serif;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: $color-link;
  text-decoration: none;

  //&:hover {
  //  text-decoration: underline;
  //}
}


