@import "node_modules/angular-notifier/styles";
@import 'assets/styles/_colors';
@import 'assets/styles/material-settings';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
