@import "node_modules/angular-notifier/styles";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.confirm-dialog-container .mat-dialog-container {
  padding: 0;
  background: transparent;
  box-shadow: none;
}
