$color-primary: #f2d082;
$color-primary-hover: #e3c682;
$color-primary-active: #d5ba7b;
$color-disabled: #e3e3e8;
$color-disabled-text: #6e6e77;
$color-success: #4aa657;
$color-danger: #f05247;
$color-danger-light: #e95f56;
$color-white: #ffffff;
$color-black: #000000;
$color-black-hover: #101014;
$color-black-toolbar: #212121;
$color-link: #548ed9;
$color-link-hover: #085cc9;
$color-hint: #9b9bab;
$color-secondary: #a6a6b0;
$color-card-background: #424242;
$color-purple: #9d9db4;
$color-gray-text: #868e96;
