@import '/src/assets/styles/_colors';

.confirm-dialog-container .mat-dialog-container {
  padding: 0;
  background: transparent;
  box-shadow: none;

  span.confirm-message-phrase {
    font-size: 1rem;
    font-weight: 500;
  }
}

.mat-button-focus-overlay {
  background-color: transparent;
  display: none;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: $color-primary;
  caret-color: $color-primary !important;
}

//.mat-form-field-label {
//  color: $color-primary;
//  .mat-form-field-required-marker {
//    color: $color-danger;
//  }
//}

.mat-input-element:disabled, .mat-select-disabled .mat-select-value {
  color: $color-white;
}

.mat-option.mat-selected {
  color: $color-primary !important;
}

.mat-input-element {
  caret-color: $color-primary-active!important;
}

//.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
//  caret-color: red!important;
//}
