@import '_colors';

::-webkit-scrollbar {
  width: 20px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: rgb(34, 34, 34);
}

::-webkit-scrollbar-thumb {
  background-color: $color-disabled;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-primary-hover;
}
