<div class="user-action-form-wrapper">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card class="mat-elevation-z6">
      <mat-toolbar>
        <mat-toolbar-row>
          <div>
            <a class="btn-action" mat-icon-button [routerLink]="[ '', 'dashboard', 'hr' ]">
              <i class="fa-solid fa-arrow-left"></i>
            </a>
          </div>
          <div>
            <span *ngIf="topic === 'add'" class="view-card-title">{{pageTitle}}</span>
            <span *ngIf="topic === 'edit'" class="view-card-title">{{pageTitle}}</span>
          </div>
          <!--          <span class="title-spacer"></span>-->
          <div>
            <button class="btn-action" mat-icon-button color="accent" type="submit"
                    [disabled]='!userForm.valid'>
              <i class="fa-solid fa-floppy-disk"></i>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-card-content>
          <span class="view-label">
            <img mat-card-avatar *ngIf='user?.avatar' class="center-block img-responsive"
                 [src]='user?.avatar'
                 [title]='user?.lastName | uppercase'
                 [style.width.px]='imageWidth' [style.height.px]='imageWidth' [style.margin.px]='imageMargin' alt="">
          </span>
        <hr>
        <br>
        <div class="form-card">
          <div class="row">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Прізвище</mat-label>
              <input matInput id="lastName" type="text" placeholder="Прізвище"
                     formControlName="lastName"/>
              <mat-error *ngIf="f.lastName.invalid">{{errorMsg(f.lastName, 'Прізвище')}}</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Ім`я</mat-label>
              <input matInput id="firstName" type="text" placeholder="Ім`я"
                     formControlName="firstName"/>
              <mat-error *ngIf="f.firstName.invalid">{{errorMsg(f.firstName, 'Ім`я')}}</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>По батькові</mat-label>
              <input matInput id="middleName" type="text" placeholder="По батькові"/>
            </mat-form-field>
          </div>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput id="email" type="email" placeholder="Email " formControlName="email"/>
            <mat-error *ngIf="f.email.invalid">{{errorMsg(f.email, 'Email')}}</mat-error>
          </mat-form-field>

          <mat-form-field formGroupName="profile" class="form-field" appearance="outline">
            <mat-label>Посада</mat-label>
            <input matInput id="post" type="text" placeholder="Посада" formControlName="post"/>
            <!--              <mat-error *ngIf="f.post.invalid">{{errorMsg(f.post, 'Посада')}}</mat-error>-->
          </mat-form-field>

          <!--          <mat-form-field *ngIf="isAddMode" class="form-field" appearance="outline">-->
          <!--            <mat-label>Пароль</mat-label>-->
          <!--            <input matInput id="password" type="text" placeholder="Пароль" formControlName="password"/>-->
          <!--            <mat-error *ngIf="f.password.invalid">{{errorMsg(f.password, 'Пароль')}}</mat-error>-->
          <!--          </mat-form-field>-->
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="topic === 'edit'" class="mat-elevation-z6">
      <mat-card-content>
        <div class="row">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Дата народження</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker">
              <i class="fa-solid fa-calendar-days"></i>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Громадянство</mat-label>
            <input matInput id="nationality" type="text" placeholder="Громадянство"/>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Освіта</mat-label>
            <input matInput id="education" type="text" placeholder="Освіта"/>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Назва освітнього закладу</mat-label>
            <input matInput id="institutionTitle" type="text" placeholder="Назва освітнього закладу"/>
          </mat-form-field>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Диплом (серія, номер)</mat-label>
            <input matInput id="diplomaNumber" type="text" placeholder="Диплом (серія, номер)"/>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>
